<div class="em-markdown-editor">
    <div class="em-markdown-edit">
      <strong>{{lang.editor}} <i title={{lang.fullscreen}} {{action "toggleFullscreen"}}>?</i></strong>
        {{textarea value=content}}
    </div>
  <div class="em-markdown-preview">    
    <strong>{{lang.preview}}</strong>
    <div class="em-markdown-output">
        {{markdown-section content=content}}
    </div>
  </div>
</div>
